@{
    ViewData["Title"] = "About";
    ViewData["Information"] = "For any other information, please click on Contact page.";
    
}
<h2>@ViewData["Title"] </h2>
<h3>@ViewData["Message"]</h3>

<p> @ViewData["Information"]</p>
