@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Aguas Lindas City<br />
</address>

<address>
    <strong>Github: </strong> <a href="https://github.com/damiao-git">Github.com/damiao-git</a><br />
    <strong>Email: </strong> <a href="mailto:damiao.jose@hotmail.com">damiao.jose@hotmail.com</a>
</address>
