@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "This site was created using C# language, ASP.NET and MySQL database.";
}
<h2>@ViewData["Title"] </h2>
<h3>@ViewData["Message"]</h3>

<p>For any other information, please click on Contact page.</p>
